@import url("https://use.typekit.net/vso6bei.css");


.background {
    justify-content: center;
    width: 100%;
    background-color: #f6f4f6cc;
    z-index: 102;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.1s ease;

    .cardDelete {
        width: 438px;
        height: 434px;
        background-color: #fff;
        opacity: 1;
        z-index: 103;
        margin-top: 72px;
        position: relative;
        box-shadow: 0px 3px 6px #E5E5E5;


        .closeButton {
            width: 34px;
            height: 34px;
            background: #E76316;
            box-shadow: 0px 3px 6px #E7631636;
            position: absolute;
            border-radius: 50%;
            right: -17px;
            top: -17px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.1s ease;



            .buttonXy,
            .buttonXx {
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: #FFFFFF;
                border-radius: 9px;
            }

            .buttonXy {
                transform: rotate(45deg);
            }

            .buttonXx {
                transform: rotate(-45deg);
            }


        }

        .closeButton:active {
            transform: scale(0.97);

        }

        .cardContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgCard {
                width: 159px;
                height: 159px;
                background: #DB25250F 0% 0% no-repeat padding-box;
                border-radius: 50%;
                margin-top: 50px;
                border: #E4E4E4 solid 6px;
                display: flex;
                justify-content: center;
                align-items: center;

                .img {
                    width: 68px;
                    height: 68px;
                }
            }

            h3 {
                font-family: "muli", sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #db2525;
                letter-spacing: 0;
                line-height: 19px;
                font-size: 32px;
                margin-top: 25px;
            }

            span {
                text-transform: uppercase;
                font-family: "muli", sans-serif;
                font-weight: 700;
                font-style: normal;
                color: #454545;
                letter-spacing: 0;
                line-height: 15px;
                font-size: 12px;
                margin-top: 13px;
            }
        }

        .separator {
            width: 364px;
            height: 0;
            border: 1px solid #E4E4E4;
            margin: 13px auto auto auto;
        }

        .cardActions {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 23px;
            gap: 17px;

            .deleteButton,
            .cancelButton {
              cursor: pointer;
              width: 165px;
              height: 48px;
              border-radius: 8px;
              font-family: "Muli", sans-serif;
              font-weight: 700;
              font-style: normal;
              letter-spacing: 0;
              line-height: 23px;
              font-size: 18px;
              box-shadow: 0px 3px 6px #92207242;
            }

            .deleteButton {
                background: #db2525;
                color: #fff;
                border: none;
            }

            .cancelButton:active {
                transform: scale(0.97);

            }

            .cancelButton {
                background: #fff;
                color: #db2525;
                border: 1px solid #db2525;
            }

            .cancelButton:active {
                transform: scale(0.97);

            }

            .deleteButton:active {
                transform: scale(0.97);

            }
        }
    }
}