@import url("https://use.typekit.net/vso6bei.css");

.divBanner {
    width: 100%;
    height: 261px;
    background-size: cover;
    background-position: center;

    .divInput {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .search {
            width: 100%;
            margin-top: 83px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;



            input[type=text] {
                background-position: 10px 10px;
                width: calc(100% - 70px);
                max-width: 1000px;
                height: 76px;
                background: #FFFFFF 0% 0% no-repeat padding-box;

                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                font-size: 24px;
                outline: none;
                border: none;
                padding: 29px 0px 22px 23px;
                font-family: "muli", sans-serif;
                font-weight: 300;
                font-style: normal;
                box-sizing: border-box;
                background-position: right 25px center;
                z-index: 1;
            }

            .buttonSearch {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border: none;
                outline: none;
                height: 76px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                cursor: pointer;
                .img {
                    transition: transform 0.1s ease;

                }
            }

            .buttonSearch:active {
                .img {
                    transform: scale(0.8);

                }
            }
        }
    }
}